h1{
    font-size: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 50%;
}
.flex{
    display: flex;
    margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);

    color: white;
    font-weight: 700;

    padding: 10px 40px;
    border-radius: 10px;
}
#line{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#tomato{
    color: rgb(228, 152, 235);
}
#text-align{
    text-align: center;
}
.mission-item{
    width: 33%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    border-radius: 30px;
}
#color-1{
    background-color: rgb(100, 185, 177);
}
#color-2{
    background-color: rgb(120, 207, 134);
}
#color-3{
    background-color: rgb(93, 113, 179);
}
#flex{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;   
}
.half img{
    width: 100%;
}


footer{
    text-align: center;
    background-color: black;
    padding: 5px;
    color: white;
}
#footer-color{
    color:blue;
}
body{
    margin: 0;
}
.bottom-part{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20PX;
    padding-right: 20PX;
    box-shadow: 10px 20px 10px rgb(207, 137, 32);
    border-radius: 20px;
}
#bottom-background1{
    background-image: url(image/pictures/pic-3.jpg);
    
}
.bottom-background img{
    width: 100%;
}